* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    background: transparent;
}

.App {
    width: 800px;
    background: transparent;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid blueviolet;
    background: honeydew;
    color: blueviolet;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
